.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*

### Manually added ###
out/tests/**
tests/**

*.bat

images/ConsoleFilter512.png
jestconfig.json
TODO.md
